/* * { margin: 0; padding: 0; } */
* { margin: 0; box-sizing: border-box; text-decoration: none; }
#banner {
	width:100%;
}

header {
    background-color: #CCCCCC;
	padding: 20px 0;
}

.caixa {
    width: 940px;
	position: relative;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
	
	
}

nav li {
    margin: 0 0 0 15px;
	display: inline;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}